<table class="list">
  <thead><tr>
	<%= sort_header_tag("id", :caption => '#') %>
	<%= sort_header_tag('title', :caption => l(:field_book_title), :default_order => 'asc') %>
	<%= sort_header_tag('author', :caption => l(:field_book_author)) %>
        <%= sort_header_tag('publisher', :caption => l(:field_publisher)) %>
        <%= sort_header_tag('published_on', :caption => l(:field_published_on)) %>
	<%= sort_header_tag('holder_id', :caption => l(:field_holder)) %>
	<%= sort_header_tag('holder_change_histories_count', :caption => l(:field_holder_change_histories_count)) %>
	<%= sort_header_tag('reviews_count', :caption => l(:field_reviews_count)) %>
    <th></th>
  </tr></thead>
  <tbody>
<% for book in books -%>
  <tr class="<%= cycle("odd", "even") %>">
	<td><%= book.id %></td>
	<td><%= link_to book.title, :action => 'show', :id => book, :project_id => @project %></td>
	<td><%= book.author %></td>
	<td><%= book.publisher %></td>
	<td><%= book.published_on %></td>
	<td><%= book.holder ? link_to_user(book.holder) : '-' %></td>
        <td><%= book.holder_change_histories_count > 1 ? "#{book.holder_change_histories_count - 1} (" + link_to(l(:button_view), :action => 'show_holder_change_histories', :id => book, :project_id => @project) + ')' : 0 %></td>
        <td><%= book.reviews_count > 0 ? "#{book.reviews_count} (" + link_to(l(:button_view), :action => 'show', :anchor => 'reviews', :id => book, :project_id => @project) + ')' : 0 %></td>
  </tr>
<% end -%>
  </tbody>
</table>