<div class="contextual">
<%= link_to_if_authorized l(:label_book_new),
                          {:controller => 'books', :action => 'new', :project_id => @project},
                          :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_books) %></h2>

<% if @books.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<%= render :partial => 'books/list', :locals => {:books => @books} %>
<p class="pagination"><%= pagination_links_full @book_pages, @book_count %></p>
<% end %>

<% html_title(l(:label_library)) -%>