<p><%= f.text_field :title, :label => :field_book_title, :size => 80, :required => true %></p>
<p><%= f.text_field :original_title, :size => 80 %></p>
<p><%= f.text_field :author, :size => 80, :required => true %></p>
<p><%= f.text_field :translator, :size => 80 %></p>
<p><%= f.text_field :publisher, :size => 80, :required => true %></p>
<p><%= f.text_field :published_on, :size => 10, :required => true %><%= calendar_for('book_published_on') %></p>
<p><%= f.text_field :value, :size => 10, :required => true %><%= l(:'number.currency.format.unit') %></p>
<p><%= f.text_field :isbn, :size => 80, :required => true %></p>
<p><%= f.text_field :pages, :size => 80, :required => true %></p>
<p><%= f.text_area :content,
                   :cols => 60,
                   :rows => (@book.content.blank? ? 10 : [[10, @book.content.length / 50].max, 100].min),
                   :accesskey => accesskey(:edit),
                   :class => 'wiki-edit',
                   :required => true %></p>
<p><%= f.text_field :intro_url, :size => 80 %></p>
<p><%= f.select :holder_id, (@project.assignable_users.collect {|m| [m.name, m.id]}), :required => true %></p>
<%= f.hidden_field :lock_version %>

<%= wikitoolbar_for 'book_content' %>
