<table class="list">
  <thead><tr>
	<%= sort_header_tag("id", :caption => '#') %>
	<%= sort_header_tag('name', :caption => l(:field_device_name), :default_order => 'asc') %>
	<%= sort_header_tag('vendor', :caption => l(:field_device_vendor)) %>
        <%= sort_header_tag('model', :caption => l(:field_device_model)) %>
        <%= sort_header_tag('manufactured_on', :caption => l(:field_manufactured_on)) %>
	<%= sort_header_tag('holder_id', :caption => l(:field_holder)) %>
	<%= sort_header_tag('holder_change_histories_count', :caption => l(:field_holder_change_histories_count)) %>
	<%= sort_header_tag('reviews_count', :caption => l(:field_reviews_count)) %>
  </tr></thead>
  <tbody>
<% for device in treasures -%>
  <tr class="<%= cycle("odd", "even") %>">
	<td><%= device.id %></td>
	<td><%= link_to device.name, :action => 'show_device', :id => device, :project_id => @project %></td>
	<td><%= device.vendor %></td>
	<td><%= device.model %></td>
	<td><%= device.manufactured_on %></td>
	<td><%= device.holder ? link_to_user(device.holder) : '-' %></td>
        <td><%= device.holder_change_histories_count > 1 ? "#{device.holder_change_histories_count - 1} (" + link_to(l(:button_view), :action => 'show_holder_change_histories', :id => device, :type => 'device', :project_id => @project) + ')' : 0 %></td>
        <td><%= device.reviews_count > 0 ? "#{device.reviews_count} (" + link_to(l(:button_view), :action => 'show_device', :anchor => 'reviews', :id => device, :project_id => @project) + ')' : 0 %></td>
  </tr>
<% end -%>
  </tbody>
</table>