<div class="contextual">
<%= link_to_if_authorized(l(:label_book_new), {:controller => 'treasures', :action => 'new_book', :project_id => @project}, :class => 'icon icon-add') %>
<%= link_to_if_authorized(l(:button_update), {:controller => 'treasures', :action => 'edit_book', :id => @book, :project_id => @project}, :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>
<%= link_to_if_authorized l(:button_delete), {:controller => 'treasures', :action => 'destroy_book', :id => @book, :project_id => @project}, :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %>
</div>

<h2><%= "#{l(:label_library)} : #{@book.title}" %></h2>

<div class="book" >

<table width="100%">
<tr>
    <td style="width:15%"><b><%=l(:field_book_id)%>:</b></td>
    <td style="width:35%"><%= @book.id %></td>
    <td style="width:15%"><b><%=l(:field_holder)%>:</b></td>
    <td style="width:35%"><%= @book.holder %></td>
</tr>
<tr>
    <td style="width:15%"><b><%=l(:field_created_on)%>:</b></td>
    <td style="width:35%"><%= @book.created_on.strftime('%Y-%m-%d') %></td>
    <td style="width:15%"><b><%=l(:field_holder_change_histories_count)%>:</b></td>
    <td style="width:35%"><%= @book.holder_change_histories_count > 1 ? "#{@book.holder_change_histories_count - 1} (" + link_to(l(:button_view), :action => 'show_holder_change_histories', :id => @book, :type => 'book', :project_id => @project) + ')' : 0 %></td>
</tr>
<tr>
    <td style="width:15%"><b><%=l(:field_author)%>:</b></td>
    <td style="width:35%"><%= @book.author %></td>
<% if @book.translator && @book.translator.length > 0 %>
    <td style="width:15%"><b><%=l(:field_translator)%>:</b></td>
    <td style="width:35%"><%= @book.translator %></td>
<% end %>
</tr>
<tr>
    <td style="width:15%"><b><%=l(:field_publisher)%>:</b></td>
    <td style="width:35%"><%= @book.publisher %></td>
    <td style="width:15%"><b><%=l(:field_published_on)%>:</b></td>
    <td style="width:35%"><%= @book.published_on %></td>
</tr>
<tr>
    <td style="width:15%"><b><%=l(:field_isbn)%>:</b></td>
    <td style="width:35%"><%= @book.isbn %></td>
    <td style="width:15%"><b><%=l(:field_pages)%>:</b></td>
    <td style="width:35%"><%= @book.pages %></td>
</tr>
<tr>
    <td style="width:15%"><b><%=l(:field_value)%></b></td>
    <td style="width:35%"><%=number_to_currency(@book.value)%></td>
<% if @book.original_title && @book.original_title.length > 0 %>
    <td style="width:15%"><b><%=l(:field_original_title)%>:</b></td>
    <td style="width:35%"><%= @book.original_title %></td>
<% end %>
</tr>
<% if @book.intro_url && @book.intro_url.length > 0 %>
<tr>
    <td style="width:15%"><b><%=l(:field_intro_url)%>:</b></td>
    <td colspan="3" style="width:85%"><%= link_to @book.intro_url, @book.intro_url, :popup => true %></td>
</tr>
<% end %>

</table>

<hr />
<p><strong><%=l(:field_content)%></strong></p>
<div class="wiki">
<%= textilizable @book, :content %>
</div>

</div>

<div class="contextual">
<%= link_to_if_authorized l(:label_add_review), 
                          {:action => 'add_review', :id => @book, :type => 'book', :project_id => @project},
                          :class => 'icon icon-comment',
                          :onclick => 'Element.show("add-review"); return false;'  %>
</div>

<% if authorize_for('treasures', 'add_review') %>
  <div id="add-review" style="display:none;">
    <h3><%= l(:label_add_review) %></h3>
    <% form_for :review, :url => {:controller => 'treasures', :action => 'add_review', :id => @book, :type => 'book', :project_id => @project} do |f| %>
      <%= error_messages_for 'review' %>
      <div class="box">
      <p><%= f.text_area :review, :cols => 80, :rows => 10, :class => 'wiki-edit', :id => 'review_content' %></p>
      <%= wikitoolbar_for 'review_content' %>
      </div>
      <p><%= submit_tag l(:button_create) %>
      <%= link_to l(:button_cancel), "#", :onclick => 'Element.hide("add-review")' %></p>
    <% end %>
  </div>
<% end %>

<% if @reviews.any? %>
<div id="review">
<%= content_tag('a', '', :name => "reviews")%>
<h3><%= l(:label_review) %></h3>
<%= render :partial => 'review', :locals => { :reviews => @reviews } %>
</div>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'treasures/sidebar' %>
<% end %>

<% html_title "#{l(:label_library)} : #{@book.title}" -%>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag '/plugin_assets/redmine_ezlibrarian/stylesheets/ezlibrarian' %>
<% end %>